body {
  margin: 50px
}

p {
  line-height: 25px; text-indent:15px
}

h2 {
  text-align: center;
  padding-top: 0.1em;
}

h4 {
  text-align: center;
  padding-top: 0.1em;
}

th {
  text-align: center;
  border-width: 0px;
  padding: 2px 8px
}

td {
  text-indent:15px;
  line-height:23px;
  border-style: solid;
  border-width: 0px;
  padding: 2px 8px
}

a:link {
  text-decoration:none
}

a:visited {
  text-decoration:none
}

a:hover {
  text-decoration:none
}

a:active {
  text-decoration:none
}