body {
  margin: 50px
}

p {
  line-height: 25px
}

h2 {
  text-align: center;
  padding-top: 0.1em;
}

th {
  text-align: center;
  border-width: 1px;
  padding: 2px 8px
}

td {
  text-align: left;
  border-style: solid;
  border-width: 1px;
  padding: 2px 8px
}

a:hover {
}

a:active {
}